<a href="https://colab.research.google.com/github/hmarathe420/Car_Price_Prediction/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Project Name**    - Car Price Prediction

##### **Project Type**    - Regression
##### **Contribution**    - Individual
##### **Name**            - Harshal Marathe

## **Project Summary -**

## **GitHub Link -**

GitHub Link --> [Tap Here]()

## **Problem Statement**

## **Data Collection & Understanding**

In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mounting Google Drive with Google colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# loading dataset from drive
df = pd.read_csv("/content/drive/MyDrive/Car Price Prediction InternPe/quikr_car.csv")

In [4]:
# Top 5 rows of diabetes dataset
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
# dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
# Describing the dataset
df.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [7]:
# shape of dataset
df.shape

(892, 6)

In [8]:
# number of duplicated rows of dataset
df.duplicated().sum()

94

In [9]:
# null values in dataset
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

## **EDA**

## **Data Pre-Processing and Feature Selection**

## **Machine Learning**

# **Conclusion**

### ***Hurrah! You have successfully completed your Machine Learning Capstone Project !!!***